#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
makina-projects.projectname:
  data:
    registry:
      addr: "{host}:{port}"
      debug_addr: "localhost:5001"
      purging: true
      level: info
      mail:
        levels: ["panic"]
        smtp:
          disabled: true
          smtp: {}
        from: "{user}@{fqdn}"
        to: ["{user}@{fqdn}"]
    host: localhost
    port: 50000
    domain: "registry.docker.tld"
    server_aliases: []
    conf: "{data_root}/configuration"
    nginx_loglevel: crit
    nginx_upstreams: "salt://makina-projects/{name}/files/nginx.upstreams.conf"
    nginx_vhost: "salt://makina-projects/{name}/files/nginx.content.conf"
    images: "{data_root}/data/images"
    www_dir: "{data_root}/data/www"
    ssl_cert: null
    #ssl_cert: |
    #          --- BEGIN
    #          --- END ...
    ssl_key: null
    #ssl_key: |
    #         --- BEGIN
    #         --- END ...
    htaccess: "{data_root}/configuration/registry.webaccess"
    force_ssl: true
    configs:
      "registry.yml":
        source: "salt://makina-projects/{name}/files/registry.yml"
        target: "{data_root}/configuration/registry.yml"
        mode: 640
# vim:set ft=sls et :
