#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
makina-projects.projectname:
  data:
    domain: "registry.docker.tld"
    server_aliases: []
    ssl_cert: null
    #ssl_cert: |
    #          --- BEGIN
    #          --- END ...
    ssl_key: null
    #ssl_key: |
    #         --- BEGIN
    #         --- END ...
    htaccess: "{data_root}/configuration/registry.webaccess"
    registry:
      addr: "{host}:{port}"
      debug_addr: "localhost:5001"
      purging: true
      level: info
      mail:
        levels: ["panic"]
        smtp:
          disabled: true
          smtp: {}
        from: "{user}@{fqdn}"
        to: ["{user}@{fqdn}"]
    host: localhost
    port: 5000
    auth_address: localhost
    auth_port: 5004
    conf: "{data_root}/configuration"
    nginx_loglevel: crit
    nginx_upstreams: "salt://makina-projects/{name}/files/nginx.upstreams.conf"
    nginx_vhost: "salt://makina-projects/{name}/files/nginx.content.conf"
    images: "{data_root}/data/images"
    www_dir: "{data_root}/data/www"
    force_ssl: false
    auth_server:
      expiration: 900
      realm: "https://127.0.0.1:5001/auth"
      service: "Docker registry"
      issuer: "Acme auth server"
      rootcertbundle: "/path/to/server.pem" 
    users:
      admin: 
        password: |
                  {{salt['mc_utils.generate_stored_password']('corpusregistry')}}
      readonly: 
        password: |
                  {{salt['mc_utils.generate_stored_password']('corpusregistryro')}}
    binaries:
      registry:
        changeset: "v2.1.1"
      "auth_server":
        changeset: "e3e2d6"
    acl:
      # Admin has full access to everything.
      - {match: {account: "admin"}, actions: ["*"]}
      # User "readonly" can pull stuff.
      - {match: {account: "readonly"}, actions: ["pull"]}
      # Access is denied by default.
    configs:
      "cert.pem":
        source: "salt://makina-projects/{name}/files/cert.pem"
        target: "{data_root}/configuration/cert.pem"
        mode: 640

      "key.pem":
        source: "salt://makina-projects/{name}/files/key.pem"
        target: "{data_root}/configuration/key.pem"
        mode: 640
      "registry.yml":
        source: "salt://makina-projects/{name}/files/registry.yml"
        target: "{data_root}/configuration/registry.yml"
        mode: 640
      "auth.yml":
        source: "salt://makina-projects/{name}/files/auth.yml"
        target: "{data_root}/configuration/auth.yml"
        mode: 640 
# vim:set ft=sls et :
